<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagong: URL Shortener</title>
</head>
<body>
    <h1>Bagong: URL Shortener</h1>
    <form action="" method="POST">
        <label for="fullUrl">URL</label>
        <input type="url" name="fullUrl" id="fullUrl"/>
        <button type="submit">Shorten</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://google.com">https://google.com</a></td>
                <td><a href="/qwerty">qwerty</a></td>
                <td>1000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
